<#assign wp=JspTaglibs["/aps-core"]>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/2.19350e9c.chunk.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/2.19350e9c.chunk.js.map"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/main.592a48af.chunk.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/main.592a48af.chunk.js.map"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/runtime~main.2ddc6911.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/runtime~main.2ddc6911.js.map"></script>
<#-- entando_resource_injection_point -->
<#-- Don't add anything above this line. The build scripts will automatically link the compiled JS and CSS for you and add them above this line so that the widget can be loaded-->

<#-- This is the custom element -->
<conference-form service-url="/microservice2/api" />
