<#assign wp=JspTaglibs["/aps-core"]>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/2.567fc7e7.chunk.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/2.567fc7e7.chunk.js.map"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/main.b3c0a620.chunk.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/main.b3c0a620.chunk.js.map"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/runtime~main.ad29cb6e.js"></script>
<script src="<@wp.resourceURL />microservice2-bundle/static/js/runtime~main.ad29cb6e.js.map"></script>
<link href="<@wp.resourceURL />microservice2-bundle/static/css/main.552b72a3.chunk.css" rel="stylesheet">
<link href="<@wp.resourceURL />microservice2-bundle/static/css/main.552b72a3.chunk.css.map" rel="stylesheet">
<#-- entando_resource_injection_point -->
<#-- Don't add anything above this line. The build scripts will automatically link the compiled JS and CSS for you and add them above this line so that the widget can be loaded-->

<conference-details service-url="/microservice2/api" />
